n8n-workflow/workflow-scooptram.json
{
  "name": "Reporte SCOOPTRAM - Procesamiento",
  "nodes": [
    {
      "parameters": {
        "path": "reporte-scooptram",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        },
        "httpMethod": "POST"
      },
      "id": "webhook-trigger",
      "name": "Webhook - Recibir Reporte",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Nodo 2: Preparar imagen para API Claude Vision\nconst items = $input.all();\nconst item = items[0];\n\nif (!item.binary || !item.binary.imagen) {\n  return [{\n    json: {\n      error: true,\n      message: 'No se recibió imagen en el campo \"imagen\"'\n    }\n  }];\n}\n\nconst imageBuffer = item.binary.imagen.data;\nconst base64Image = Buffer.from(imageBuffer, 'base64').toString('base64');\nconst mimeType = item.binary.imagen.mimeType || 'image/jpeg';\n\nlet metadata = {};\ntry {\n  if (item.json.metadata) {\n    metadata = typeof item.json.metadata === 'string' \n      ? JSON.parse(item.json.metadata) \n      : item.json.metadata;\n  }\n} catch (e) {\n  // metadata parsing failed, continue\n}\n\nreturn [{\n  json: {\n    base64_image: base64Image,\n    mime_type: mimeType,\n    timestamp: new Date().toISOString(),\n    metadata\n  }\n}];"
      },
      "id": "preparar-imagen",
      "name": "Preparar Imagen Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"{{ $json.mime_type }}\",\n            \"data\": \"{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Eres un sistema experto en extracción de datos de reportes operativos mineros. Analiza esta imagen del \\\"Reporte de Operación de Equipos: SCOOPTRAM\\\" de la minera Volcán.\\n\\nIMPORTANTE:\\n- El formato está rotado 90° (landscape). El título está en el borde derecho.\\n- Los datos están escritos A MANO con bolígrafo, puede haber letra difícil.\\n- Si no puedes leer un campo con certeza, coloca \\\"???\\\" y agrega confianza baja.\\n- Las horas están en formato HH:MM (24h).\\n- Los horómetros son números decimales.\\n- Los códigos de actividad comunes son: 120, 122, 123, 200, 202, 203, 262, 301, 302, M05, 191, 193.\\n\\nEXTRAE y devuelve ÚNICAMENTE un JSON válido con esta estructura exacta (sin texto adicional, sin markdown, sin explicaciones):\\n\\n{\\n  \\\"encabezado\\\": {\\n    \\\"mina\\\": \\\"string\\\",\\n    \\\"fecha\\\": \\\"YYYY-MM-DD\\\",\\n    \\\"guardia\\\": \\\"DIA|NOCHE\\\",\\n    \\\"empresa\\\": \\\"string\\\",\\n    \\\"equipo_codigo\\\": \\\"string\\\",\\n    \\\"veta\\\": \\\"string\\\",\\n    \\\"numero_correlativo\\\": \\\"string\\\"\\n  },\\n  \\\"horometros\\\": {\\n    \\\"macro\\\": \\\"number|null\\\",\\n    \\\"inicial\\\": \\\"number\\\",\\n    \\\"final\\\": \\\"number\\\",\\n    \\\"tipo_combustible\\\": \\\"D|E\\\"\\n  },\\n  \\\"actividades\\\": [\\n    {\\n      \\\"fila\\\": \\\"int\\\",\\n      \\\"hora_inicio\\\": \\\"HH:MM\\\",\\n      \\\"hora_final\\\": \\\"HH:MM\\\",\\n      \\\"cod_actividad\\\": \\\"string\\\",\\n      \\\"veta\\\": \\\"string\\\",\\n      \\\"origen_zona\\\": \\\"string\\\",\\n      \\\"origen_nivel\\\": \\\"string\\\",\\n      \\\"origen_labor\\\": \\\"string\\\",\\n      \\\"labor_ref\\\": \\\"string\\\",\\n      \\\"destino_zona\\\": \\\"string\\\",\\n      \\\"destino_nivel\\\": \\\"string\\\",\\n      \\\"destino_labor\\\": \\\"string\\\",\\n      \\\"material_md\\\": \\\"string\\\",\\n      \\\"num_viajes\\\": \\\"int|null\\\",\\n      \\\"dist_promedio\\\": \\\"number|null\\\",\\n      \\\"cod_equipo_transporte\\\": \\\"string\\\",\\n      \\\"num_cucharas\\\": \\\"int|null\\\",\\n      \\\"observaciones\\\": \\\"string\\\",\\n      \\\"confianza\\\": \\\"float 0-1\\\"\\n    }\\n  ],\\n  \\\"operador\\\": {\\n    \\\"nombre\\\": \\\"string\\\",\\n    \\\"datos\\\": \\\"string\\\",\\n    \\\"horometro\\\": \\\"number|null\\\"\\n  },\\n  \\\"observaciones_generales\\\": \\\"string\\\",\\n  \\\"fallas\\\": [\\n    {\\n      \\\"no\\\": \\\"int\\\",\\n      \\\"nombre_sobrestante\\\": \\\"string\\\",\\n      \\\"sistema\\\": \\\"string\\\",\\n      \\\"sintoma\\\": \\\"string\\\",\\n      \\\"causa\\\": \\\"string\\\",\\n      \\\"horometro\\\": \\\"number|null\\\"\\n    }\\n  ],\\n  \\\"firmas_presentes\\\": {\\n    \\\"jefe_guardia_ecm\\\": \\\"bool\\\",\\n    \\\"jefe_guardia_volcan\\\": \\\"bool\\\",\\n    \\\"tecnico_mantenimiento\\\": \\\"bool\\\",\\n    \\\"residente_ecm\\\": \\\"bool\\\",\\n    \\\"supervisor_mantenimiento\\\": \\\"bool\\\"\\n  },\\n  \\\"tipo_copia\\\": \\\"ORIGINAL|MANTENIMIENTO|CONTROL OPERATIVO\\\",\\n  \\\"confianza_global\\\": \\\"float 0-1\\\"\\n}\\n\\nSolo incluye filas de actividades que tengan datos escritos (ignora filas vacías).\\nPara campos ilegibles usa \\\"???\\\" en strings y null en números.\\nEl campo \\\"confianza\\\" por fila indica qué tan seguro estás de la lectura (0.0 a 1.0).\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "claude-vision-api",
      "name": "Claude Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Nodo 4: Parsear respuesta JSON de Claude\nconst item = $input.first();\nlet responseText = '';\n\ntry {\n  responseText = item.json.content[0].text;\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: 'No se pudo obtener texto de respuesta de Claude',\n      raw_response: JSON.stringify(item.json)\n    }\n  }];\n}\n\n// Limpiar posibles backticks de markdown\nconst cleanJson = responseText\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: 'Error parseando JSON de Claude: ' + e.message,\n      raw_response: responseText\n    }\n  }];\n}\n\nreturn [{ json: { ...parsed, error: false } }];"
      },
      "id": "parsear-json",
      "name": "Parsear Respuesta JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Nodo 5: Validación de datos\nconst data = $input.first().json;\nconst errores = [];\nconst advertencias = [];\n\nif (data.error) {\n  return [{ json: { ...data, validacion_ok: false, validacion: { errores: [data.message], advertencias: [] } } }];\n}\n\n// 1. Fecha válida\nif (!data.encabezado || !data.encabezado.fecha || data.encabezado.fecha === '???') {\n  errores.push('Fecha no legible');\n}\n\n// 2. Horómetros\nconst hi = data.horometros ? data.horometros.inicial : null;\nconst hf = data.horometros ? data.horometros.final : null;\nif (hi !== null && hf !== null && hi !== undefined && hf !== undefined) {\n  if (hf < hi) {\n    errores.push(`Horómetro final (${hf}) menor que inicial (${hi})`);\n  }\n  const diff = Math.round((hf - hi) * 100) / 100;\n  if (diff > 24) {\n    advertencias.push(`Diferencia de horómetro (${diff}) mayor a 24h`);\n  }\n}\n\n// 3. Validar actividades\nconst actividades = data.actividades || [];\nif (actividades.length === 0) {\n  errores.push('No se extrajeron actividades del reporte');\n}\n\nconst codigosValidos = ['120','122','123','200','202','203','262','301','302','M05','191','193','HO5'];\n\nfor (const act of actividades) {\n  if (act.hora_inicio && act.hora_final) {\n    const [hiH, hiM] = act.hora_inicio.split(':').map(Number);\n    const [hfH, hfM] = act.hora_final.split(':').map(Number);\n    const inicioMin = hiH * 60 + hiM;\n    const finalMin = hfH * 60 + hfM;\n    \n    if (finalMin <= inicioMin && inicioMin < 720) {\n      advertencias.push(`Fila ${act.fila}: Hora final <= hora inicio`);\n    }\n  }\n  \n  if (act.cod_actividad && !codigosValidos.includes(act.cod_actividad) && act.cod_actividad !== '???') {\n    advertencias.push(`Fila ${act.fila}: Código actividad ${act.cod_actividad} no reconocido`);\n  }\n\n  if (act.confianza !== undefined && act.confianza !== null && act.confianza < 0.7) {\n    advertencias.push(`Fila ${act.fila}: Baja confianza de lectura (${(act.confianza * 100).toFixed(0)}%)`);\n  }\n}\n\n// 4. Confianza global\nif (data.confianza_global !== undefined && data.confianza_global < 0.6) {\n  errores.push('Confianza global muy baja, considerar reprocesar');\n}\n\n// 5. Operador\nif (!data.operador || !data.operador.nombre || data.operador.nombre === '???') {\n  advertencias.push('Nombre de operador no legible');\n}\n\ndata.validacion = { errores, advertencias };\ndata.validacion_ok = errores.length === 0;\n\nreturn [{ json: data }];"
      },
      "id": "validacion",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-validacion",
              "leftValue": "={{ $json.validacion_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-validacion",
      "name": "IF - Validación OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Nodo 7: Preparar fila para hoja \"encabezados\"\nconst data = $input.first().json;\nconst hi = data.horometros ? data.horometros.inicial : null;\nconst hf = data.horometros ? data.horometros.final : null;\nconst diff = (hi !== null && hf !== null) ? Math.round((hf - hi) * 100) / 100 : null;\n\nreturn [{\n  json: {\n    fecha_procesamiento: new Date().toISOString(),\n    numero_correlativo: data.encabezado ? data.encabezado.numero_correlativo : '',\n    fecha: data.encabezado ? data.encabezado.fecha : '',\n    guardia: data.encabezado ? data.encabezado.guardia : '',\n    empresa: data.encabezado ? data.encabezado.empresa : '',\n    equipo_codigo: data.encabezado ? data.encabezado.equipo_codigo : '',\n    veta: data.encabezado ? data.encabezado.veta : '',\n    horometro_inicial: hi,\n    horometro_final: hf,\n    horometro_diferencia: diff,\n    tipo_combustible: data.horometros ? data.horometros.tipo_combustible : '',\n    nombre_operador: data.operador ? data.operador.nombre : '',\n    observaciones_generales: data.observaciones_generales || '',\n    tipo_copia: data.tipo_copia || '',\n    confianza_global: data.confianza_global || 0,\n    num_actividades: data.actividades ? data.actividades.length : 0,\n    num_errores: data.validacion ? data.validacion.errores.length : 0,\n    num_advertencias: data.validacion ? data.validacion.advertencias.length : 0,\n    // Pasar datos completos para los siguientes nodos\n    _datos_completos: data\n  }\n}];"
      },
      "id": "preparar-encabezado",
      "name": "Preparar Encabezado Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "encabezados"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_procesamiento": "={{ $json.fecha_procesamiento }}",
            "numero_correlativo": "={{ $json.numero_correlativo }}",
            "fecha": "={{ $json.fecha }}",
            "guardia": "={{ $json.guardia }}",
            "empresa": "={{ $json.empresa }}",
            "equipo_codigo": "={{ $json.equipo_codigo }}",
            "veta": "={{ $json.veta }}",
            "horometro_inicial": "={{ $json.horometro_inicial }}",
            "horometro_final": "={{ $json.horometro_final }}",
            "horometro_diferencia": "={{ $json.horometro_diferencia }}",
            "tipo_combustible": "={{ $json.tipo_combustible }}",
            "nombre_operador": "={{ $json.nombre_operador }}",
            "observaciones_generales": "={{ $json.observaciones_generales }}",
            "tipo_copia": "={{ $json.tipo_copia }}",
            "confianza_global": "={{ $json.confianza_global }}",
            "num_actividades": "={{ $json.num_actividades }}",
            "num_errores": "={{ $json.num_errores }}",
            "num_advertencias": "={{ $json.num_advertencias }}"
          },
          "matchingColumns": ["numero_correlativo"]
        },
        "options": {}
      },
      "id": "sheets-encabezado",
      "name": "Sheets - Encabezados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR_ID_CREDENCIAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo 7b: Expandir actividades como items individuales\nconst data = $input.first().json._datos_completos || $input.first().json;\nconst actividades = data.actividades || [];\nconst correlativo = data.encabezado ? data.encabezado.numero_correlativo : '';\nconst fecha = data.encabezado ? data.encabezado.fecha : '';\n\nreturn actividades.map(act => ({\n  json: {\n    numero_correlativo: correlativo,\n    fecha: fecha,\n    fila: act.fila,\n    hora_inicio: act.hora_inicio,\n    hora_final: act.hora_final,\n    cod_actividad: act.cod_actividad,\n    veta: act.veta,\n    origen_zona: act.origen_zona,\n    origen_nivel: act.origen_nivel,\n    origen_labor: act.origen_labor,\n    labor_ref: act.labor_ref,\n    destino_zona: act.destino_zona,\n    destino_nivel: act.destino_nivel,\n    destino_labor: act.destino_labor,\n    material_md: act.material_md,\n    num_viajes: act.num_viajes,\n    dist_promedio: act.dist_promedio,\n    cod_equipo_transporte: act.cod_equipo_transporte,\n    num_cucharas: act.num_cucharas,\n    observaciones: act.observaciones,\n    confianza: act.confianza\n  }\n}));"
      },
      "id": "expandir-actividades",
      "name": "Expandir Actividades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "actividades"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "sheets-actividades",
      "name": "Sheets - Actividades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR_ID_CREDENCIAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo 7c: Expandir fallas como items individuales\nconst data = $input.first().json._datos_completos || $input.first().json;\nconst fallas = data.fallas || [];\nconst correlativo = data.encabezado ? data.encabezado.numero_correlativo : '';\nconst fecha = data.encabezado ? data.encabezado.fecha : '';\n\nif (fallas.length === 0) {\n  return []; // No hay fallas, no escribir nada\n}\n\nreturn fallas.map(f => ({\n  json: {\n    numero_correlativo: correlativo,\n    fecha: fecha,\n    no_falla: f.no,\n    nombre_sobrestante: f.nombre_sobrestante,\n    sistema: f.sistema,\n    sintoma: f.sintoma,\n    causa: f.causa,\n    horometro: f.horometro\n  }\n}));"
      },
      "id": "expandir-fallas",
      "name": "Expandir Fallas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 600]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "fallas"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "sheets-fallas",
      "name": "Sheets - Fallas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 600],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR_ID_CREDENCIAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo 9: Respuesta exitosa al webhook\nconst data = $input.first().json;\nconst datosCompletos = data._datos_completos || data;\n\nreturn [{\n  json: {\n    status: 'success',\n    numero_correlativo: datosCompletos.encabezado ? datosCompletos.encabezado.numero_correlativo : '',\n    actividades_procesadas: datosCompletos.actividades ? datosCompletos.actividades.length : 0,\n    advertencias: datosCompletos.validacion ? datosCompletos.validacion.advertencias : [],\n    confianza_global: datosCompletos.confianza_global || 0,\n    // Devolver datos completos para que el frontend los muestre\n    ...datosCompletos\n  }\n}];"
      },
      "id": "respuesta-exito",
      "name": "Preparar Respuesta Éxito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-exito",
      "name": "Respond Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Nodo 8: Manejo de errores\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'error',\n    errores: data.validacion ? data.validacion.errores : [data.message || 'Error desconocido'],\n    advertencias: data.validacion ? data.validacion.advertencias : [],\n    sugerencia: 'Tomar nueva foto con mejor iluminación',\n    confianza_global: data.confianza_global || 0,\n    // Devolver datos parciales para corrección manual\n    ...data\n  }\n}];"
      },
      "id": "manejo-error",
      "name": "Preparar Respuesta Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 800]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "errores_procesamiento"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_procesamiento": "={{ new Date().toISOString() }}",
            "numero_correlativo": "={{ $json.encabezado ? $json.encabezado.numero_correlativo : 'N/A' }}",
            "tipo_error": "validacion",
            "mensaje": "={{ JSON.stringify($json.errores || [$json.message]) }}",
            "respuesta_cruda": "={{ $json.raw_response ? $json.raw_response.substring(0, 500) : '' }}"
          }
        },
        "options": {}
      },
      "id": "sheets-errores",
      "name": "Sheets - Log Errores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 800],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR_ID_CREDENCIAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 800]
    }
  ],
  "connections": {
    "Webhook - Recibir Reporte": {
      "main": [
        [{ "node": "Preparar Imagen Base64", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Imagen Base64": {
      "main": [
        [{ "node": "Claude Vision API", "type": "main", "index": 0 }]
      ]
    },
    "Claude Vision API": {
      "main": [
        [{ "node": "Parsear Respuesta JSON", "type": "main", "index": 0 }]
      ]
    },
    "Parsear Respuesta JSON": {
      "main": [
        [{ "node": "Validar Datos", "type": "main", "index": 0 }]
      ]
    },
    "Validar Datos": {
      "main": [
        [{ "node": "IF - Validación OK?", "type": "main", "index": 0 }]
      ]
    },
    "IF - Validación OK?": {
      "main": [
        [
          { "node": "Preparar Encabezado Sheets", "type": "main", "index": 0 },
          { "node": "Expandir Actividades", "type": "main", "index": 0 },
          { "node": "Expandir Fallas", "type": "main", "index": 0 }
        ],
        [
          { "node": "Preparar Respuesta Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar Encabezado Sheets": {
      "main": [
        [{ "node": "Sheets - Encabezados", "type": "main", "index": 0 }]
      ]
    },
    "Sheets - Encabezados": {
      "main": [
        [{ "node": "Preparar Respuesta Éxito", "type": "main", "index": 0 }]
      ]
    },
    "Expandir Actividades": {
      "main": [
        [{ "node": "Sheets - Actividades", "type": "main", "index": 0 }]
      ]
    },
    "Expandir Fallas": {
      "main": [
        [{ "node": "Sheets - Fallas", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Respuesta Éxito": {
      "main": [
        [{ "node": "Respond Éxito", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Respuesta Error": {
      "main": [
        [
          { "node": "Sheets - Log Errores", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets - Log Errores": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "scooptram" },
    { "name": "reportes" },
    { "name": "volcan" }
  ]
}
